.new-post{
    padding: 16px 0;
    border-bottom: 1px solid #ccc;

}

.new-post header,
.posts header{
    margin-bottom: 20px;

}

.posts .post{
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.posts .post .info {
    color: #aaa;
    font-style: italic;
}
.interaction a{
    padding-right: 5px;
    border-right: 2px solid black;
    margin-bottom: 30px;
}

.crud {
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.crud a{
    padding-right: 5px;
    border-right: 2px solid black;
    margin-bottom: 30px;
}

.error{
    border : 1px solid #ff392f;
    background-color: antiquewhite ;
    color: red;
}

.error ul {
    list-style: none;
    margin: 0;
    padding: 0 ;

}

.success{
    border : 1px solid green;
    background-color: darkseagreen ;
    color: green;
}

.error, .success{
    text-align: center;
}
